.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .load{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top: 10px solid#FF3D00;
    border-bottom: 10px solid #FF3D00;
    animation: rotate 1.8s linear infinite;
  }
}


@keyframes rotate{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
